.sidebar-left {
    background-color: var(--gray5);

    height: 100%;
    width: 60px;
    padding: 8px;
    float: left;

    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.sidebar-left > span {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
}

.sidebar-left div:first-child {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: 0px;
    position: relative;
    overflow: visible;
}

.sidebar-left div:first-child .current {
    outline: var(--white) solid 4px;
}

.sidebar-left div:first-child a div {
    margin-bottom: 8px;
}

.sidebar-left div:first-child::-webkit-scrollbar {
    display: none;
}

.sidebar-left .iconWrapper:not(:last-child) {
    margin-bottom: 8px;
}