.chat {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat > ul {
    padding: 0px 16px;
    margin: 0px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 auto;
}

.chat form {
    flex: 0 1 71px;
    padding: 17px 16px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gray2);
}