.message {
    list-style-type: none;
    margin: 10px 0px;
}
.message .smartIcon {
    width: 52px;
    height: 52px;
    min-width: 52px;
    min-height: 52px;
}

.message > div {
    display: flex;
    align-items: center;
}

.message div.text {
    margin: 0px;
    min-height: 24px;
    margin-right: 30px;
    margin-left: 10px;
    padding: 8px 16px;
    background-color: var(--gray1);
    max-width: 500px;
    border-radius: 22px;
}

.message label {
    display: block;
    margin: 0px;
    padding-left: 75px;
}

.message.owned > div {
    flex-flow: row-reverse;
    margin-left: 30px;
}

.message.owned label {
    width: 100%;
    text-align: right;
    padding-left: 0px;
    padding-right: 75px;
}

.message.owned div.text {
    margin-right: 10px;
    margin-left: 30px;
    color: var(--white);
    background: var(--gradient-pink);
}