.videoCall {
    width: 100%;
    position: relative;
    z-index: 1;
    flex: 0 0 fit-content;
}

.videoCall .videoControls {
    z-index: 1;
    position: relative;
    bottom: 18px;
    display: flex;
    flex-direction: row-reverse;
}

.videoCall .videoControls > * {
    display: block;
    margin: 0px 10px 0px 10px;
}

.videoCall .videoContainer {
    height: 240px;
    max-width: 100vw;
    transition: 1s;

    background: rgb(96, 150, 188);
    background: radial-gradient(circle, rgba(96, 150, 188, 1) 0%, rgba(28, 87, 129, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: middle;
    overflow-x: auto;
    overflow-y: visible;
}

.videoCall .videoContainer::-webkit-scrollbar {
    display: none;
}

.videoCall .videoContainer:empty {
    height: 100px;
}

.videoCall .videoContainer li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.videoCall .videoContainer video {
    margin-top: auto;
    margin-bottom: auto;
}

.videoCall video {
    width: 250px;
    aspect-ratio: 9/6;
    object-fit: cover;
}

.cameraView {
    position: absolute;
    width: 200px;
    top: 280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    filter: drop-shadow(3px 3px 3px var(--gray4));
}
