.videoCall {
    width: 100%;
}

.videoCall .videoControls {
    z-index: 1;
    position: relative;
    bottom: 18px;
    display: flex;
    flex-direction: row-reverse;
}

.videoCall .videoControls > * {
    display: block;
    margin: 0px 10px 0px 10px;
}

.videoCall .videoContainer {
    height: 60%;
    transition: 1s;

    background: rgb(96, 150, 188);
    background: radial-gradient(circle, rgba(96, 150, 188, 1) 0%, rgba(28, 87, 129, 1) 100%);

    display: flex;
    justify-content: center;
    align-items: middle;
    overflow-x: scroll;
}

.videoCall .videoContainer::-webkit-scrollbar {
    display: none;
}

.videoCall .videoContainer:empty {
    height: 100px;
}

.videoCall .videoContainer video {
    margin-top: auto;
    margin-bottom: auto;
}

.videoCall video {
    width: 250px;
    aspect-ratio: 9/6;
    object-fit: cover;
}

.videoCall video.cameraView {
    position: relative;
    top: -15px;
    left: 20px;
    z-index: 1;
    filter: drop-shadow(3px 3px 3px var(--gray4));
}
