.iconWrapper {
    display: flex;
    aspect-ratio: 1/1;
}

.iconWrapper.primary {
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--white);
}

.iconWrapper.secondary {
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--white);
}

.iconWrapper.background {
    border-radius: 50%;
    background-color: var(--background);
    color: var(--body);
}
.iconWrapper.background > svg, 
.iconWrapper.primary > svg, 
.iconWrapper.secondary > svg {
    width: 60%;
}

.iconWrapper > svg {
    width: 100%;
    height: auto;
    margin: auto auto;
}