@font-face {
    font-family: 'Laila';
    src: local('Laila') url(./assets/font/Laila-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher') url(./assets/font/Philosopher-Regular.ttf) format('truetype');
}

:root {
    --primary: #1C5781;
    --secondary: #C7268E;
    --body: #082E3E;
    --white: #FFFFFF;
    --gray1: #F4F4F4;
    --gray2: #BFC5C8;
    --gray3: #99A1A5;
    --gray4: #575C5F;
    --gray5: #3B4549;
    --infored: #BD4E48;
    --gradient-blue: linear-gradient(90deg, rgba(28,87,129,1) 0%, rgba(96,150,188,1) 100%);
    --gradient-pink: linear-gradient(90deg, rgba(198,36,141,1) 0%, rgba(214,120,176,1) 100%);
    --primary-transparent: rgba(15, 147, 241, 0.2);
    --secondary-transparent: rgba(247, 11, 164, 0.2);
    --sidebar-width: 300px;


    color: var(--body);
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Laila', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

#root {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher';
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 400;
}

.sidebarContainer + .MuiContainer-root {
    margin-left: var(--sidebar-width);
}

button {
    height: 36px;
    width: fit-content;
    font-family: 'Laila';
    font-weight: 600;
    color: var(--body);
    background-color: var(--white);
    border: 2px solid var(--body);
    cursor: pointer;
    border-radius: 24px;
    padding: 0px 36px 0px 36px;
}

button.primary {
    background: var(--gradient-blue);
    border: none;
    color: var(--white);
}

button.primary-stroke {
    background: var(--white);
    border: 2px solid var(--primary);
    color: var(--primary);
}

button.secondary {
    background: var(--gradient-pink);
    border: none;
    color: var(--white);
}

button.secondary-stroke {
    background: var(--white);
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

input[type=text], input[type=password] {
    height: 36px;
    line-height: 36px;
    width: 100%;
    font-size: 16px;
    font-family: 'Laila';
    background: var(--white);
    border: 2px solid var(--gray2);
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    transition: all .2s ease-in-out;
    outline: 0px solid var(--gray1);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: var(--gray2);
}


input[type=text]:invalid:not(:placeholder-shown), input[type=password]:invalid:not(:placeholder-shown) {
    color: var(--infored);
    border-color: var(--infored);
}

input[type=password] {
    font-family: 'Verdana';
    font-size: 22px;
}

input[type=text]:focus-visible, input[type=password]:focus-visible {
    outline: 4px solid var(--gray1);
}

input[type=text]:focus, input[type=password]:focus {
    outline: 3px solid var(--primary-transparent);
}

.labelInputContainer {
    display: flex;
    flex-direction: column;
}

.checkboxContainer {
    display: flex;
    height: 28px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.checkboxContainer label {
    height: 28px;
    line-height: 28px;
}

textarea{
    height: 96px;
    font-size: 16px;
    font-family: 'Laila';
    background: var(--white);
    border: 2px solid var(--gray2);
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    transition: all .2s ease-in-out;
    outline: 0px solid var(--gray1);
}
.checkboxContainer input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin: 4px 0px 4px 6px;
}

.checkboxContainer input[type='checkbox']:hover {
    cursor: pointer;
}

.checkboxContainer input[type='checkbox']:checked {
    color: var(--primary);
}

.checkboxContainer label {
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 6px;
    margin-left: 6px;
}

hr {
    border-top: 2px solid var(--gray2);
}
