@font-face {
    font-family: 'Laila';
    src: local('Laila') url(./assets/font/Laila-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher') url(./assets/font/Philosopher-Regular.ttf) format('truetype');
}

:root {
    --primary: #1C5781;
    --secondary: #C7268E;
    --body: #082E3E;
    --white: #FFFFFF;
    --gray1: #F4F4F4;
    --gray2: #BFC5C8;
    --gray3: #99A1A5;
    --gray4: #575C5F;
    --gray5: #3B4549;
    --background: #FBF5E9;
    --infored: #BD4E48;
    --gradient-blue: linear-gradient(90deg, rgba(28,87,129,1), rgba(96,150,188,1) 100%);
    --gradient-pink: linear-gradient(90deg, rgba(198,36,141,1), rgba(214,120,176,1) 100%);
    --gradient-blue-mirrored: linear-gradient(270deg, rgba(28,87,129,1), rgba(96,150,188,1) 100%);
    --gradient-pink-mirrored: linear-gradient(270deg, rgba(198,36,141,1), rgba(214,120,176,1) 100%);
    --primary-transparent-mirrored: rgba(15, 147, 241, 0.2);
    --secondary-transparent: rgba(247, 11, 164, 0.2);

    color: var(--body);
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Laila', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

#outlet {
    flex: 1;
    display: flex;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Philosopher';
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 400;
}

.sidebarContainer + .MuiContainer-root {
    margin-left: var(--sidebar-width);
}

button, select {
    font-family: 'Laila';
    font-weight: 600;

    color: var(--white);
    background: var(--gradient-blue);
    background-color: var(--primary);
    height: 36px;

    width: fit-content;
    max-width: 200px;
    padding: 0px 24px 0px 24px;

    border-radius: 24px;
    border: none;

    cursor: pointer;
    transition: 0.2s;

    text-overflow: ellipsis;
    white-space: nowrap;
}

button.primary:hover, button:hover, select:hover {
    background: var(--primary);
}

button.iconButton {
    width: 36px;
    padding: 8px;
    justify-content: center;
    vertical-align: middle;
}

button.iconButton > svg {
    height: 100%;
    width: auto;
    display: flex;
}

button.primary-stroke:not(:disabled), select.primary-stroke:not(:disabled) {
    color: var(--primary);
    background-image: var(--gradient-blue);
    border: 3px solid transparent;
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
}

button.primary-stroke:hover:not(:disabled), button.secondary-stroke:hover:not(:disabled),
select.primary-stroke:hover:not(:disabled), select.secondary-stroke:hover:not(:disabled) {
    box-shadow: none;
    color: var(--white);
}

button.secondary, 
select.secondary {
    background: var(--gradient-pink);
    background-color: var(--secondary);
    border: none;
    color: var(--white);
}

button.secondary:hover, 
select.secondary:hover {
    background: var(--secondary);
}

button.secondary-stroke, 
select.secondary-stroke {
    color: var(--secondary);
    background-image: var(--gradient-pink);
    border: 3px solid transparent;
    box-shadow: 2px 1000px 1px #fff inset;
    background-origin: border-box;
}

button.error {
    background-color: var(--infored);
    background: var(--infored);
    color: var(--white);
}

button.error-stroke {
    background: var(--gray1);
    border-color: var(--infored);
    border: 2px solid var(--infored);
    color: var(--infored)
}

button.error-stroke.iconButton {
    padding: 6px 6px 6px 6px;
}

button:disabled,
select:disabled {
    background: var(--gray1);
    border-color: var(--gray2);
    color: var(--gray2);
}


select:focus-within { outline: none;}

select {
    -webkit-appearance: none;
    appearance: none;
}

select option {
    appearance: none;
    -webkit-appearance: none;

    height: 36px;
    width: fit-content;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Laila';
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: var(--body);
    background-color: var(--white);
}

input[type=text], input[type=password] {
    height: 36px;
    line-height: 36px;
    width: 100%;
    font-size: 16px;
    font-family: 'Laila';
    background: var(--white);
    border: 2px solid var(--gray2);
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    transition: all .2s ease-in-out;
    outline: 0px solid var(--gray1);
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: var(--gray2);
}


input[type=text]:invalid:not(:placeholder-shown), input[type=password]:invalid:not(:placeholder-shown) {
    color: var(--infored);
    border-color: var(--infored);
}

input[type=password] {
    font-family: 'Verdana';
    font-size: 22px;
}

input[type=text]:focus-visible, input[type=password]:focus-visible {
    outline: 4px solid var(--gray1);
}

input[type=text]:focus, input[type=password]:focus {
    outline: 3px solid var(--primary-transparent);
}

.labelInputContainer {
    display: flex;
    flex-direction: column;
}

.checkboxContainer {
    display: flex;
    height: 28px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.checkboxContainer label {
    height: 28px;
    line-height: 28px;
}

textarea{
    height: 96px;
    font-size: 16px;
    font-family: 'Laila';
    background: var(--white);
    border: 2px solid var(--gray2);
    border-radius: 20px;
    padding: 0px 12px 0px 12px;
    transition: all .2s ease-in-out;
    outline: 0px solid var(--gray1);
}
.checkboxContainer input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin: 4px 0px 4px 6px;
}

.checkboxContainer input[type='checkbox']:hover {
    cursor: pointer;
}

.checkboxContainer input[type='checkbox']:checked {
    color: var(--primary);
}

.checkboxContainer label {
    margin-top: 0px;
    margin-bottom: 0px;
}

label {
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 6px;
    margin-left: 6px;
}

hr {
    border-top: 2px solid var(--gray2);
}

.clickable:hover {
    cursor: pointer;
}
