.createSafezone{
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;
}

.createSafezone h1 {
text-align: center;
}

.safeZoneName-container{
    display: flex;
    flex-direction: column;
}

.safeZoneName-container input, label{
    margin-top: 10px;
}

.safeZoneName-container input{
    width: auto;
}

.description-container{
    display: flex;
    flex-direction: column;
}

.description-container textarea, label{
    margin-top: 10px;
}

.description-container textarea{
    width: auto;
    resize: none;
}

.limit-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.button-container{
    margin-top: 10px;
    text-align: right;
}

.button-container button{
    margin-left: 5px;
    margin-right: 10px;
}
